//colors
$--red: #D84A4A;
//gray
$--gray--dark:  #425966;
$--gray--mid:#BFC4CAD1;
$--gray--light : #E9F1FA;
//blue
$--blue--dark:  #0635C9;
$--blue--mid:#6AA3C1;
$--blue--light : #C2E3F3;
//white
$--white: #FFFFFF;
//black
$--black: #00000000;
$--black-mid: #A9A9A911;
//fonts
$--sm: 0.8rem;
$--lg: 1.2rem;
$--xl: 1.4rem;
$--xxl: 3.3rem;

//breakpoints
$--s-breakpoints: 428px;
$--mid-breakpoints: 768px;
$--lg-breakpoints: 1279px;