//colors

$--red: #d84a4a;
//gray
$--gray--dark: #425966;
$--gray--mid: #bfc4cad1;
$--gray--light: #e9f1fa;
//blue
$--blue--dark: #0635c9;
$--blue--mid: #6aa3c1;
$--blue--light: #c2e3f3;
//white
$--white: #ffffff;
//black
$--black: #00000000;
$--black-mid: #a9a9a911;
$--black-light: #8395A766;
//fonts
$--sm: 0.8rem;
$--lg: 1.2rem;
$--xl: 1.4rem;
$--xxl: 3.1rem;

//breakpoints
$--s-bp: 428px;
$--mid-bp: 768px;
$--lg-bp: 1279px;
